#message {
    display:none;
    background: #00111f;
    color: #ffffff;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border: 2px solid;
    border-color: #EF952C;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
    }

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}